body{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#dash div.width-100 *{
    float: left;
    white-space: nowrap;
    overflow: hidden;
}

.main-page {
    margin-left: 3%;
    width: 97%;
    height: 100%;
}

.flex-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.flex-box-je{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
}

.hidden {
    display: none !important;
}

.inverse-colors {
    background: whitesmoke;
}

.aside{
    padding: 2%;
    border-left: 1px solid #e2e4e7;
}

.full-height{
    height: 100%;
}

.pretty-input{
    width: 100%;
    padding: 2% 3%;
    box-sizing: border-box;
    border: 1px solid #e2e4e7;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    padding: 3% 5%;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 18pt;
    font-weight: bold;
}

.horizontal-flex-box{
    display: flex;
    flex-flow:row;
    align-items: center;
    justify-content: space-around;
}

.flex-box-sb{
    width: 100%;
    display: flex;
    flex-flow:row;
    align-items: center;
    justify-content: space-between;
}

.title{
    font-size: 60pt;
}

.no-stretch{
    flex: 0 0 auto;
}

.stretch-both{
    flex: 1 1 auto;
}

.stretch-end{
    flex: 1 1 0;
}

.tb-margin{
    margin: 20px 0;
}

.tiny-margin{
    margin: 10px 0;
}

.top-margin{
    margin-top: 20px;
}

.my-header{
    font-size: 24pt;
    text-align: center;
}

.my-header-2{
    text-align: center;
    font-size: 16pt;
}

.dash{
    border: 1px solid #e2e4e7;
    width: 100%;
}

.full-dash{
    width: 97%;
}

#dash{
    overflow: auto;
    justify-content: flex-start;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #50e074;
}

.active {
    background-color: white;
    color: black;  
  }

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.side-menu {
    position: absolute;
    font-size:60px;
    cursor:pointer;
    margin-left: 10px;
}

.hide {
    display: none;
}

.container{
    position: relative;
    width: 100%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.width-100{
    width: 100%;
}

.center-align{
    text-align: center;
    width: 100%;
}

.fifth{
    width: 20%;
}

.tenth{
    width: 10%;
}

.third{
    width: 30%;
}

.headers{
    background-color: #3f51b5;
    color: white;
}

.income .colored{
    color: darkseagreen;
    /* border-bottom: 1px solid #27ae60; */
}

.expense, .income, .headers{
    min-height: 50px;
}

.income:hover, .expense:hover{
    background: #f1f1f1;
    cursor: pointer;
}

.expense .colored{
    color: coral;
    /* border-bottom: 1px solid #c0392b; */
}

#dash-form *, #dash-form option{
    padding: 5px;
    margin: 5px;
    height: 30px;
    box-sizing: border-box;
    width: 150px;
}

.page-title {
text-align: center;
}

.category-column {
    margin: 0 5%;
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 2%;
}

.add-category {
    padding: 7px 15px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    border-radius: 15px;
    background-color: #2ecc71
}

.categories-box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex: 1 1 auto;
    height: 80%;
}

.list-categories {
    border: 1px solid black;
    font-size: 18pt;
    border-radius: 20px;
    overflow: auto;
    text-align: center;
    margin-bottom: 3%;
    background-color: whitesmoke;
}

.border-line {
    border: 1px solid black;
    border-radius: 20px;
    overflow: auto;
    margin-bottom: 10px
}

.category-style {
    padding: 10px 0;
    margin: 0 10px;
    border-bottom: 1px solid;
    cursor: pointer;
}


.flex-box2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div.category-style:hover {
    background-color: rgb(8, 223, 8);
    border-radius: 15px;

}

.add-category:hover {
    background: green;
}

.pencil {
    display: none !important;
}

div.category-name:hover > .pencil {
    display: inline-block !important;

}


