body{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#dash div.width-100 *{
    float: left;
    white-space: nowrap;
    overflow: hidden;
}

.main-page {
    margin-left: 3%;
    width: 97%;
    height: 100%;
}

.flex-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.flex-box-je{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
}

.hidden {
    display: none !important;
}

.inverse-colors {
    background: whitesmoke;
}

.aside{
    padding: 2%;
    border-left: 1px solid #e2e4e7;
}

.full-height{
    height: 100%;
}

.pretty-input{
    width: 100%;
    padding: 5px 8px;
    box-sizing: border-box;
    border: 1px solid #e2e4e7;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    padding: 3% 5%;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 18pt;
    font-weight: bold;
}

.horizontal-flex-box{
    display: flex;
    flex-flow:row;
    align-items: center;
    justify-content: space-around;
}

.flex-box-sb{
    width: 100%;
    display: flex;
    flex-flow:row;
    align-items: center;
    justify-content: space-between;
}

.title{
    font-family: 'BenchNine', sans-serif;
    font-size: 170px;
    margin-right: 30px;
    color: darkslateblue;
    text-transform: uppercase;
    text-decoration: underline;
}

#wallets-visualizer{
    flex: 1 0 auto;
}

.no-stretch{
    flex: 0 0 auto;
}

.stretch-both{
    flex: 1 1 auto;
}

.stretch-end{
    flex: 1 1 0;
}

.tb-margin{
    margin: 20px 0;
}

.tiny-margin{
    margin: 10px 0;
}

.top-margin{
    margin-top: 20px;
}

.my-header{
    font-size: 24pt;
    text-align: center;
}

.my-header-2{
    text-align: center;
    font-size: 16pt;
}

.dash{
    border: 1px solid #e2e4e7;
    width: 100%;
}

.full-dash{
    width: 97%;
}

#dash{
    overflow: auto;
    justify-content: flex-start;
}

.hide {
    display: none;
}

.container{
    position: relative;
    width: 100%;
}

.width-100{
    width: 100%;
}

.center-align{
    text-align: center;
    width: 100%;
}

.fifth{
    width: 20%;
}

.tenth{
    width: 10%;
}

.third{
    width: 30%;
}

.headers{
    background-color: #3f51b5;
    color: white;
}

.income .colored{
    color: darkseagreen;
    /* border-bottom: 1px solid #27ae60; */
}

.expense, .income, .headers{
    min-height: 50px;
}

.income:hover, .expense:hover{
    background: #f1f1f1;
    cursor: pointer;
}

.expense .colored{
    color: coral;
    /* border-bottom: 1px solid #c0392b; */
}

#dash-form *, #dash-form option{
    padding: 5px;
    margin: 5px;
    height: 30px;
    box-sizing: border-box;
    width: 150px;
}

.page-title {
text-align: center;
}

.category-column {
    margin: 0 5%;
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 2%;
}

.add-category {
    padding: 7px 15px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    border-radius: 15px;
    background-color: #2ecc71
}

.categories-box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex: 1 1 auto;
    height: 80%;
}

.list-categories {
    border: 1px solid black;
    font-size: 18pt;
    border-radius: 20px;
    overflow: auto;
    text-align: center;
    margin-bottom: 3%;
    background-color: whitesmoke;
}

.border-line {
    border: 1px solid black;
    border-radius: 20px;
    overflow: auto;
    margin-bottom: 10px
}

.category-style {
    padding: 10px 0;
    margin: 0 10px;
    border-bottom: 1px solid;
    cursor: pointer;
}


.flex-box2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div.category-style:hover {
    background-color: rgb(8, 223, 8);
    border-radius: 15px;

}

.add-category:hover {
    background: green;
}

.pencil {
    display: none !important;
}

div.category-name:hover > .pencil {
    display: inline-block !important;

}

#walletsListView {
    padding: 10px 5px;
    margin-bottom: -1px;
    max-height: 120px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.wallet {
    /* float: left;
    position: relative;
    width: 200px; */
    height: 70px;
    margin: 5px;
    padding: 10px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #999;
  border-radius: 10px;
  background-color: whitesmoke;
  flex: 1 1 200px;
}
.wallet h3 {
    font-family: 'BenchNine', sans-serif;
    margin: 0;
    padding: 3px 5px 0 0;
    max-height: 60px;
    overflow: hidden;            
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.5;
    color: #999;
    flex: 1 0 auto;
}

.wallet p{
font-size: 30px;
flex: 1 0 auto;
text-align: right;
}

.k-listview:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

header{
    min-height: 170px;
    margin-top: 20px;
}

.settings {
    position: absolute;
    font-size: 50px;
    left: 10px;
    top: 10px;
    color: darkslateblue;
}
